<ul class="nav">
    <li>
      <%= link_to t(:'menu.home'), root_path %>
    </li>
  <% if user_signed_in? %>
    <li>
    <%= link_to(t(:'menu.logout'), destroy_user_session_path , :method=>'delete') %>        
    </li>
  <% else %>
    <li>
    <%= link_to(t(:'menu.login'), new_user_session_path )  %>  
    </li>
  <% end %>
    <li>
    <%= link_to(t(:'menu.sign_up'), new_user_registration_path) unless user_signed_in?  %>
    </li>
</ul>
