<h6>Translate @views/cart/show.html.erb</h6>
<h4>Your cart (FIXME: Translate!)</h4>
<div class="cart">
  <% products.each do |product| %>
    <div class="cart-product">
       <%= product_number(product) + ". " + product.code  + " : " + product.description + " x" + product_quantity(product) %>
    </div>
  <% end %>
</div>
<button>Finalizar Compra</button>


