<h4><%= t(:'cart.your') %></h4>
<div class="cart">
  <table class="table table-bordered table-hover">
  <% products.each do |product| %>
    <tr>
      <div class="cart-product">
         <%= product_number(product) + ". " + product.code  + " : " + product.description + " x" + product_quantity(product) %>
      </div>
    </tr>
  <% end %>
  </table>
</div>
<button class="btn btn-info"> <%= t(:'cart.finish') %> </button>


