<h4><%= t(:'cart.your') %></h4>
<div class="cart">
  <table class="table table-bordered table-hover">
  <% products.each do |product| %>
    <tr>
      <div class="cart-product">
       <%= (products.index(product)+1).to_s + ". " + product.code  + " : " + product.description + " x" + items[products.index(product)].quantity.to_s%>
      </div>
    </tr>
  <% end %>
  </table>
</div>
<button class="btn btn-info"> <%= t(:'cart.finish') %> </button>


