<div class="all-products">
	<div class="categories-links">
		<%= link_to t(:all_categories), root_path, class: "category-link", data: { "ajax-href" => products_path } %>

		<% @categories.each do |category| %>
			<%= link_to category.name, category_path(category, :category_id => category.id), class: "category-link", 
					data: { "ajax-href" => products_category_path(category) } %>
		<% end %>
	</div>
	
  <%= render partial: "products/index" %>
</div>

<div class="shop-cart">
  <%= render :partial => "cart/show", locals: { items: @items, products: @cart_products} %>
</div>
