
<div class="all-products">
  <%= render partial: "products/index", locals: { products: @products }%>
</div>

<div class="shop-cart">
  <%= render :partial => "cart/show", locals: { items: @items, products: @cart_products} %>
</div>
