<div class="span12">
  aaa
</div>

<div class="span5">
  bbb
</div>

<p><p>
<div class="shop-cart">
 Teste 
</div>

<div class="all-products">
  LOL
  LOL
  LOL
  LOL
  LOL
  LOL
  LOL
  LOL
  LOL
  LOL
  LOL
  LOL
  LOL
  LOL
  LOL
</div>
