.header {
	position: relative;

	h1 {
		float: left;
	}

	.form-fields { 
		bottom: 10px;
		float: right;
		position: absolute;
		right: 0px;

		.filter-form {
			display: inline;
		}

		.new-product-btn {
			display: inline;
		}
	}
}

.sales {
	text-align: right;
}

.label-total {
	display: inline;
	font-weight: bold;
}

.sale-info {
	font-size: 1.5em;

	.sales-label {
		display: inline;
		font-weight: bold;
		font-size: 1.0em;
	}
}

.sale-date {
	font-size: 0.9em;
}