// Place all the styles related to the cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-cart {
	border-radius: 4px;
	float: right;
	max-width: 360px;
	padding: 0 0 10px 10px;
	position: relative;
	width: 100%;
	
	button {
		float: right;
	}
	
	h4 {
		background-color: white;
		left: 25px;
		margin: 0 0 5px 0;
		padding: 0 2px 0;
		position: absolute;
	}
	
	.cart {
		background-color: #FFF;
		border-radius: 5px 5px 0 5px;
		padding: 10px;
	
		a:hover {
			background: none;
		}
		
		.table {
			margin: 0;
			width: 100%;
			
			td {
				line-height: 100%;
				padding: 4px;
				vertical-align: middle;
			}
		}
		
		.txt-product-quantity {
			margin: 0;
			font-size: 12px;
			max-height: 15px;
			max-width: 20px;
			text-align: center;
		}
	}
}
