// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.products {
	.category {
		float: left;
		margin-left: 5px;
		color: #777777;
	}
	
	.price {
		float: right;
		margin-right: 5px;
		color: red;
	}
	
	.span2 {
		margin: 0 0 8px 8px;
		text-align: center;
		width: 185px;
		min-height: 232px;
		position: relative;
	}
	
	.image {
		margin-top: 5px;
		margin-bottom:10px;
		height: 150px;
		line-height:150px;
	}
	
	.code {
		color: #777777;
	}
	
	.btn-cart {
		position: absolute;
		bottom: 0px;
		width: 100%;
		
		.btn {
			width: 86%;
		}
	}	
	
	.info { 
		white-space: nowrap;
		margin: 0 5px 0;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}