<h1>Edit Product</h1>

<%= render 'form' %>

<!-- un-necessary  <%= link_to 'Show', admin_product_path(@product), :class => 'btn btn-info' %>  
<%= link_to 'Back', admin_products_path, :class => 'btn' %>-->
